[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = warning

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = warning

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = warning

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = warning

# xUnit1012: Null should not be used for value type parameters
dotnet_diagnostic.xUnit1012.severity = warning
